.auth-container{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: #f8f9fa;
}

.auth-container form{
    background: white;
    padding: 20px;
    display:flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-color:black;
    gap:20px;
}

.auth-container input{
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.2s ease;
    border: 2px solid #e1e5e9;
}
.auth-container input:hover{
    background:white;
}

.auth-container input:focus {
    outline: none;
}

.auth-container button {
    padding: 15px;
    gap: 20px;
    border: none;
    cursor:pointer;
    transition: background-color 0.2s ease;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    background: #09c85c81;
    min-height: 10px;
}

.auth-container button:hover{
    background:white;
}

.auth-container button:focus{
    outline:none;
}
.auth-links{
    margin-bottom: 8px;
    text-align: center;
}
.auth-links span {
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    display: block;
    margin: 10px 0;
}

.auth-links span:hover {
    text-decoration: underline;
}


